body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

div {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#listaNombres {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    list-style-type: none; /* Eliminar los puntos de lista */
    padding: 0;
}

#listaNombres li {
    background-color: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}
